html {
	height: 100%;
}

/*body {
	background: url(images/bg_plains01.png);
	-moz-background-size:100% 100%;
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}*/
body {
	background-color: rgb(33,36,46);
}
#theCanvas {
	position: fixed;
	top: 10%;
	border: thin solid black;
	/*margin-left:;*/
	/*cursor: none;*/
	image-rendering:optimizeSpeed;             /* Legal fallback                 */
	image-rendering:-moz-crisp-edges;          /* Firefox                        */
	image-rendering:-o-crisp-edges;            /* Opera                          */
	image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
	image-rendering:pixelated;
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
}
#infoBox {
	border: thin solid gray;
	border-radius: 10px;
	background-color: lightgray;
	width: 640px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}